/*
* {
  border: 1px solid red !important;
} */


* {
  margin: 0;
  padding: 0;
} 

html {
  scroll-behaviour: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: heebo, sans-serif;
  background-color: #252525;
}

/* Thanks @lasborg for the following media styles.

/* 1200px / 16px = 75em */ /*
@media (max-width: 75em) {
  html {
    font-size: 61.25%;
  }
}

/* 980px / 16px = 61.25em */ /*
@media (max-width: 61.25em) {
  html {
    font-size: 60%;
  }
}

/* 460px / 16px = 28.75em */ /*
@media (max-width: 28.75em) {
  html {
    font-size: 55%; 
  }
} */
  
 .nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
   left: 0;
   top: 0;
   background-color: #282828;
   z-index: 10;
  }

.nav-group {
  display: flex;
  margin-left: 2rem;
  list-style: none;
}

.nav-group a {
  font-size: 2.2rem;
  display: block;
  padding: 2.5rem; 
  text-decoration: none;
  color: white;
}

.nav-group a:hover {
  color: #91672c;
  transition: 0.6s;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://github.com/auguste-rodin/gates-of-hell/blob/master/cartoonish1.jpg?raw=true);
  background-size: cover;
}

img {
  height: 7.5rem;
}

.spitfire {
    display: flex;
  position: relative;
  margin-top: 10%;
}

.plane {
  animation: merlin 12s infinite;
  animation-delay: 2ms;
}

@keyframes merlin {
  0% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

.hurricane {
    display: flex;
  position: relative;
  margin-top: 3%;
}

.bomber {
  animation: kestrel 12s infinite;
  animation-delay: 1s;
}

@keyframes kestrel {
  0% {
    left: 100%;
  }
  50% {
    left: 0%
  }
  100% {
    left: -100%;
  }
}

.sunshine {
  display: flex;
  position: relative;
}

.rising {
  animation: george 40s infinite;
  animation-delay: 2ms;
}

@keyframes george {
  0% {
    left: -100%
  }
  100% {
    left: 100%
  }
}

.projects-header {
  font-size: 3rem;
  text-align: center;
  background-color: #252525;
  color: white;
}

.project-spacing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: contain;
  border-radius: 4%;
}

.project-image:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.34),0 17px 50px 0 rgba(0,0,0,0.29);
}

.project-title {
  font-size: 1.6rem;
  padding: 2rem 0.5rem;
  border-radius: 5px;
  text-align: center;
  background-color: #474747;
  color: white;
}

a {
  text-decoration: none;
}

.project-title:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.34),0 17px 50px 0 rgba(0,0,0,0.29);
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 2rem 0;
  background-color: #91672c;
}

.contact-section-header > h2 {
  font-size: 4rem;
}

.contact-section-header > p {
  font-size: 3rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
} 

.contact-details {
  font-size: 2rem;
  text-decoration: none;
  padding: 1.2rem;
  border-radius: 5px;
  color: white;
}

.contact-details:hover {
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.34),0 17px 50px 0 rgba(0,0,0,0.29);
  transition: 0.8s; 
}

footer {
  display: flex;
  flex-direction: row;
  float: right;
  padding-right: 1rem;
  font-size: 2rem;
  color: white;
}